## TOPIC: String Based Assignment Problem

### 1. Write a program to reverse a string.

In [12]:
a = "hello"
print("reversed string:",a[::-1])
print(reversed(a))
# also can use ''.join(reversed(a))

reversed string: olleh
<reversed object at 0x000002D2867D26B0>

### 2. Check if a string is a palindrome.

In [27]:
s= input("enter the string: ")
print("you entered: ",s)
clean=s.replace(' ','').lower()
#print(f"you entered: {s}")
if clean == clean[::-1]:
    print(s,"is palindrome")
else:
    print(s," is not a palindrome")

you entered:  wow
wow is palindrome

### 3. Convert a string to uppercase.

In [2]:
s1 = input("enter the string")
new_s1 =s1.upper()
print(f"you entered: {s1}")
print("your string in uppercase : ",new_s1)

you entered: mom
your string in uppercase :  MOM

### 4. Convert a string to lowercase.

In [98]:
s1 = input("enter the string")
new_s1 = s1.lower()
print(f"you entered: {s1}")
print("your string in uppercase : ",new_s1)

you entered: HELLO
your string in uppercase :  hello

### 5. Count the number of vowels in a string.

In [51]:
def count_vowels(string):
    vowels = "aeiouAEIOU"
    count = 0
    for char in string:
        if char in vowels:
            count += 1
    return count

input_string = input("Enter a string: ")
print("you entered :",input_string)
result = count_vowels(input_string)
print("Number of vowels:", result)

you entered : hello
Number of vowels: 2

### 6. Count the number of consonants in a string.

In [50]:
def count_consonant(string):
    vowels = "aeiou"
    count = 0
    for char in string:
        char=char.lower()
        if ('a'<= char <='z') and char not in vowels:
            count += 1
    return count

input_string = "aeiou_bcd_e"
result = count_consonant(input_string)
print("Number of consonant:", result)

Number of consonant: 3

### 7. Remove all whitespaces from a string.

In [87]:
def strip(s1):
    res=""
    for i in s1:
        if i!=" ":
            res+=i
    return res 
s1= "   hello           "
print(f"without whitespaces your string :\n'{strip(s1)}'")

without whitespaces your string :
'hello'

### 8. Find the length of a string without using the `len()` functioM

In [29]:
def len(s2):
    cnt=0
    for i in s2:
        cnt+=1
    print("string  length:",cnt)
s2=input("enter the  string :")
print(f"you entered:'{s2}'")
len(s2)

you entered:'fssfs fsf'
string  length: 9

### 9. Check if a string contains a specific word.

In [43]:
def check(str,word):
    if word in str:
        return f'"{word}" found'
    return f'"{word}"not found"'
str=input("enter string: ")
word= input("enter the word to check")
print("you entered :",str,",word:",word)
check(str,word)

you entered : helo ji ,word: ji

'"ji" found'

### 10. Replace a word in a string with another word.

In [47]:
input_string= input("enter the string")
word=input("enter word to replaced :")
new_word=input("enter new word: ")
modified_string=input_string.replace(word,new_word)
print(input_string)
print(modified_string)

helo  dear friend
helo  my friend

### 11. Count the occurrences of a word in a string.

In [56]:
def count(str,word):
    cnt=0
    words=str.split()
    for i in words:
        if i==word:
            cnt+=1
    return cnt
input_string= "helo ji kaise hai ji"
word="ji"
occ=count(input_string,word)
print(f"occurance of '{word}' is {occ} times in your string ")

occurance of 'j' is 0 times in your string

### 12. Find the first occurrence of a word in a string.

In [12]:
def first_occ(str, word):
    index=str.find(word)
    if index==-1:
        return f"Not found"
    return f"Found at {index}"
input_string= "helo friend how are you?"
word="helo"
first_occ(input_string,word)

'Found at 0'

### 13. Find the last occurrence of a word in a string.

In [16]:
def last_occ(str, word):
    index=str.rfind(word)
    if index==-1:
        return f"Not found"
    return f"Found at {index}"
input_string= "helo friend how are you friend?"
word="friend"
last_occ(input_string,word)

'Found at 24'

### 14. Split a string into a list of words.

In [19]:
def str_list(str):
    l=str.split(" ")
    return l
input_string="i am very happy"
words = str_list(input_string)
print(f"list of words : {words}")

list of words : ['i', 'am', 'very', 'happy']

### 15. Join a list of words into a string.

In [21]:
def join_words(words):
    str=" ".join(words)
    return str
words=['I', 'am', 'very', 'happy']
join_words(words)

'I am very happy'

### 16. Convert a string where words are separated by spaces to one where words are separated by underscores.

In [22]:
def convert(str):
    new_str = str.replace(" ","_")
    return new_str
str = "today is a beautiful day"
convert(str)

'today_is_a_beautiful_day'

### 17. Check if a string starts with a specific word or phrase.

In [25]:
def starting(str,word):
    i = str.startswith(word)
    return i 
str = "hello everyone how are you"
word= "helo"
if starting(str,word):
    print(f"Yes your string start with {word}")
else:
    print(f"No your string start with {word}")

Yes your string start with helo

### 18. Check if a string ends with a specific word or phrase.

In [29]:
def end_with(str,word):
    i = str.endswith(word)
    return i 
str = "hello everyone how are you"
word= "are you"
if end_with(str,word):
    print(f"Yes your string start with '{word}'")
else:
    print(f"No your string start with '{word}'")

No your string start with '  are you'

### 20. Find the longest word in a string.

In [62]:
def long_word(str):
    cnt,max=0,0
    word=""
    words=str.split(' ')
    for i in words:
        cnt=len(i)
        if cnt > max:
            max=cnt
            word=i
    return word
#str= "once upon a time in delhi and mumbai too"
str1=""
print(f"longest word : '{long_word(str1)}'")

longest word : ''

### 21. Find the shortest word in a string.

In [74]:
def short_word(str):
    cnt=0
    min=float('inf')
    word=""
    words=str.split(' ')
    for i in words:
        cnt=len(i)
        if cnt < min:
            min=cnt
            word=i
    return word
str= "once upon a time in delhi and mumbai too"
print(f"shortest word : '{short_word(str)}'")

shortest word : 'a'

### 22. Reverse the order of words in a string.

In [75]:
def reverse(str):
    words = str.split(" ")
    new = ' '.join(reversed(words))
    return new 
str="you are how"
reverse(str)

'how are you'

### 23. Check if a string is alphanumeric.

In [6]:
def is_alphanumeric(text):
    # Step 1: Use the isalnum() method to check if the string is alphanumeric.
    return text.isalnum()               

# Example usage
text = "Hello123"
result = is_alphanumeric(text)
if result:
    print("The string is alphanumeric.")
else:
    print("The string is not alphanumeric.")

The string is alphanumeric.

In [6]:
def is_alphanumeric(str):
    if str.isalnum():
        return f"{str} is alphanumeric"
    return  f"{str} is not alphanumeric"
str= "fsf323s"
is_alphanumeric(str)

'fsf323s is alphanumeric'

### 24. Extract all digits from a string.

In [11]:
def extract_dig(str):
    digit=""
    for i in str:
        if i.isdigit():
            digit+=i
    return f"extracted digits: {digit}"
str="sfsf33sfs54"
extract_dig(str)

'extracted digits: 3354'

### 25. Extract all alphabets from a string.

In [14]:
def extract_alpha(str):
    digit=""
    for i in str:
        if i.isalpha():
            digit+=i
    return f"extracted alphabet: {digit}"
str="sfsf33sfs54"
extract_alpha(str)

'extracted alphabet: sfsfsfs'

### 26. Count the number of uppercase letters in a string.

In [19]:
def count_uppercase(str):
    upper_cnt = sum(1 for char in str if char.isupper())
    return upper_cnt

string = "fsfsfsGDGD"
result = count_uppercase(string)
print(result)

4

### 27. Count the number of lowercase letters in a string.

In [22]:
def count_lowercase(str):
    lower_cnt = sum(1 for char in str if char.islower())
    return lower_cnt

string = "fsfsfsGDGD"
result = count_lowercase(string)
print(result)

6

### 28. Swap the case of each character in a string.

In [23]:
def swap_case(str):
    swap_str = str.swapcase()
    return swap_str
str = "fsfsFSFS"
swap_case(str)

'FSFSfsfs'

### 29. Remove a specific word from a string.

In [32]:
def remove_word(string, remove):
    words = string.split()  
    new_words = [word for word in words if word != remove]
    new_str = ' '.join(new_words)  
    return new_str

string = "Hello ji how are you."
remove = "ji"
result = remove_word(string, remove)
print(result)

Hello how are you.

### 30. Check if a string is a valid email address.

In [1]:
import re  

def is_valid_email(email):
    pattern = r'^[\w\.-]+@[\w\.-]+\.\w+$'  
    if re.match(pattern, email):
        return True
    else:
        return False

# Example email addresses
email1 = "abc@email.com"
email2 = "_@gmail."
result1 = is_valid_email(email1)
result2 = is_valid_email(email2)
print(result1)
print(result2)

True
False

### 31. Extract the username from an email address string.

In [22]:
def username(email):
    user=email.split('@')[0]
    return user
email="abc@gmail.com" 
username(email)

'abc'

### 32. Extract the domain name from an email address string.

In [24]:
def domain(email):
    dom=email.split('@')[1]
    return dom 
email="abc@gmail.com"
domain(email)

'gmail.com'

### 33. Replace multiple spaces in a string with a single space.

In [2]:
def replace_multi_single(input):
    new= ' '.join(input.split())
    return new
input="helo   how  are    u?"
replace_multi_single(input)

['helo', 'how', 'are', 'u?']

### 34. Check if a string is a valid URL.

In [ ]:
from urllib.parse import urlparse

def is_valid(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False
url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid(url1)
result2 = is_valid(url2)
print(result1) 
print(result2)

### 35. Extract the protocol (http or https) from a URL string.

In [21]:
def extract(url):
    if '://' in url:
        protocal=url.split('://',1)[0]
        return protocal 
    return None 
url1="https://www.google..com"
url2="http://www.google.com"
print(extract(url1))
print(extract(url2))

https
http

### 36. Find the frequency of each character in a string.

In [36]:
def freq_char(string):
    freq= {}
    for i in string:
        if i in freq:
            freq[i]+=1
        else:
            freq[i]=1
    return freq
string="hello everyone"
letter=freq_char(string)
for letter,occurance in letter.items():
    print(f"char:'{letter}', frequency:{occurance}")

char:'h', frequency:1
char:'e', frequency:4
char:'l', frequency:2
char:'o', frequency:2
char:' ', frequency:1
char:'v', frequency:1
char:'r', frequency:1
char:'y', frequency:1
char:'n', frequency:1

### 37. Remove all punctuation from a string.

In [41]:
def remove(string):
    new = string.replace('.','')
    return new
string="helo. how. are. you ?"
remove(string)

'helo how are you ?'

### 38. Check if a string contains only digits.

In [43]:
def check_only_dig(str):
    if str.isdigit():
        return f"your string has only digit"
    return f"not only digit"
str="3433334"
check_only_dig(str)

'not only digit'

### 39. Check if a string contains only alphabets.

In [50]:
def contain_only_alpha(str):
    if str.isalpha():
        return f"only alphabet"
    return "not only alphabet"
str1="gjg"
str2="fsfs3655"
a=contain_only_alpha(str1)
b=contain_only_alpha(str2)
print(a)
print(b)

only alphabet
not only alphabet

### 40. Convert a string to a list of characters.

In [56]:
def listofChar(string):
    char_list=list(string)
    return char_list
string="hello"
listofChar(string)

['h', 'e', 'l', 'l', 'o']

### 41. Check if two strings are anagrams.

In [59]:
def anagram(str1,str2):
    str1= str1.replace(" ", "").lower()
    str2= str2.replace(" ", "").lower()
    return sorted(str1)==sorted(str2)
str1="hello"
str2="elloh"
anagram(str1,str2)

True

### 42. Encode a string using a Caesar cipher.

In [71]:
def caesar_text(string,shift):
    encoded = ""
    for i in string:
        if i.isalpha():
            if i.islower():
                encoded += chr(((ord(i) - ord('a') + shift) % 26) + ord('a'))
            elif i.isupper():
                encoded += chr(((ord(i) - ord('A') + shift) % 26) + ord('A'))
        else:
            encoded += i
    return encoded
string = "abc"
shift=2
encoded_string = caesar_text(string,shift)
print(encoded_string)

cde

### 43. Decode a Caesar cipher encoded string.

In [76]:
def cipher_text(string,shift):
    decoded = ""
    for i in string:
        if i.isalpha():
            if i.islower():
                decoded += chr(((ord(i) - ord('a') - shift) % 26) + ord('a'))
            elif i.isupper():
                decoded += chr(((ord(i) - ord('A') - shift) % 26) + ord('A'))
        else:
            dencoded += i
    return decoded
string = "def"
shift=2
decoded_string = cipher_text(string,shift)
print(decoded_string)

bcd

### 44. Find the most frequent word in a string.

In [2]:
import re
from collections import Counter

def most_frequent_word(text):
    words = re.findall(r'\w+', text.lower())
    word_counts = Counter(words)
    most_common_word, most_common_count = word_counts.most_common(1)[0]
    return most_common_word, most_common_count

input_text = "This is an example sentence. This sentence contains some example words."
most_common_word, count = most_frequent_word(input_text)
print(f"The most frequent word is '{most_common_word}' with a count of {count}.")

The most frequent word is 'this' with a count of 2.

### 45. Find all unique words in a string.

In [3]:
def unique_words(text):
    words = text.lower().split()
    unique_word_set = set()
    for word in words:
        word = ''.join(char for char in word if char.isalnum())
        if word:
            unique_word_set.add(word)
    return unique_word_set

input_text = "This is an example sentence. This sentence contains some example words."
unique_words_set = unique_words(input_text)

print("Unique words in the text:")
for word in unique_words_set:
    print(word)

Unique words in the text:
some
sentence
is
this
an
words
example
contains

### 46. Count the number of syllables in a string.

In [4]:
def count_syllables(word):
    if word.endswith('e'):
        word = word[:-1]
    
    vowels = "AEIOUaeiou"
    syllables = 0
    in_syllable = False

    for char in word:
        if char in vowels:
            if not in_syllable:
                syllables += 1
                in_syllable = True
        else:
            in_syllable = False

    if syllables == 0:
        syllables = 1

    return syllables

word = "syllable"
syllable_count = count_syllables(word)
print(f"The word '{word}' has {syllable_count} syllables.")

The word 'syllable' has 1 syllables.

### 47. Check if a string contains any special characters.

In [5]:
def has_special_chars(s):
    for c in s:
        if not c.isalnum():
            return True
    return False

input_string = "Hello123"
contains_special = has_special_chars(input_string)
if contains_special:
    print("The string contains special characters.")
else:
    print("The string does not contain special characters.")

The string does not contain special characters.

### 48. Remove the nth word from a string.

In [6]:
def remove_nth_word(input_string, n):
    words = input_string.split()
    if n >= 0 and n < len(words):
        del words[n]
        return ' '.join(words)
    else:
        return input_string

input_string = "This is an example sentence."
n = 2  
result_string = remove_nth_word(input_string, n)
print(result_string)

This is example sentence.

### 49. Insert a word at the nth position in a string.

In [11]:
def insert_word_at_nth_position(input_string, word_to_insert, n):
    words = input_string.split()
    if n >= 0 and n <= len(words):
        words.insert(n, word_to_insert)
        return ' '.join(words)
    else:
        return input_string
input_string = "This is an example sentence."
word_to_insert = "new"
n = 2  
result_string = insert_word_at_nth_position(input_string, word_to_insert, n)
print(result_string)

This is new an example sentence.

### 50. Convert a CSV string to a list of lists.

In [8]:
import csv
from io import StringIO
def csv_to_list(csv_str):
    csv_file = StringIO(csv_str)
    csv_reader = csv.reader(csv_file)
    result = [row for row in csv_reader]
    return result

csv_str = "1,John,Doe\n2,Jane,Smith\n3,Bob,Johnson"
result_list = csv_to_list(csv_str)
print(result_list)

[['1', 'John', 'Doe'], ['2', 'Jane', 'Smith'], ['3', 'Bob', 'Johnson']]

## **List based practice problem :**

---

### 1. Create a list with integers from 1 to 10.

In [78]:
list=[a for a in range(1,11)]
print(list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

### 2. Find the length of a list without using the `len()` function.

In [80]:
def list_len(l):
    cnt=0
    for i in l:
        cnt+=1
    return f"your list have '{cnt}' items"
l=[1,2,4,6,7,8,4,2]
list_len(l)

"your list have '8' items"

### 3. Append an element to the end of a list.

In [83]:
list_1=[1,2,4,5]
list_1.append(6) #append(element)
list_1

[1, 2, 4, 5, 6]

### 4. Insert an element at a specific index in a list.

In [85]:
list = [1,2,4,6]
list.insert(0,12)  # insert(index,element)
list

[12, 1, 2, 4, 6]

### 5. Remove an element from a list by its value.

In [88]:
list=[2,3,5,7]
list.remove(3)
list

[2, 5, 7]

### 6. Remove an element from a list by its index.

In [90]:
list= [2,3,5,6,7]
list.pop(1)   #pop(index to remove)
list

[2, 5, 6, 7]

### 7. Check if an element exists in a list.

In [91]:
list=[2,4,6,78,8]
element=3
if element in list:
    print(f"{element} is in list")
else:
    print(f"{element} is not in list")

3 is not in list

### 8. Find the index of the first occurrence of an element in a list.

In [99]:
list=[3,5,4,6,7,8,9,4,6]
element=4
a=list.index(4)
print(f"first occurance of '{element}' at index : {a}")

first occurance of '4' at index : 2

### 9. Count the occurrences of an element in a list.

In [102]:
list=[2,3,5,6,8,9,5,4,3]
element=3
a=list.count(element)   
print(f"occurance of '{element}' is {a} times")

occurance of '3' is 2 times

### 10. Reverse the order of elements in a list.

In [104]:
list= [3,4,5,7,8,9]
list.reverse()
list

[9, 8, 7, 5, 4, 3]

### 11. Sort a list in ascending order.

In [128]:
list=[2,8,5,3,2,1]
a=sorted(list)
a

[1, 2, 2, 3, 5, 8]

### 12. Sort a list in descending order.

In [129]:
list=[2,8,5,3,2,1]
a=sorted(list,reverse=True)
a

[8, 5, 3, 2, 2, 1]

### 13. Create a list of even numbers from 1 to 20.

In [131]:
list = [i for i in range(1,21) if i%2==0]
list

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

### 14. Create a list of odd numbers from 1 to 20.

In [152]:
list = [i for i in range(1,21) if i%2==1]
list

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

### 15. Find the sum of all elements in a list.

In [1]:
my_list = [2, 3, 5, 6, 7]
total = sum(my_list)
print(f"sum of all items in my_list: {total}")

sum of all items in my_list: 23

### 16. Find the maximum value in a list.

In [3]:
my_list = [2, 3, 5, 6, 7]
max_val = max(my_list)
print(f"max of all items in my_list: {max_val}")

max of all items in my_list: 7

### 17. Find the minimum value in a list.

In [5]:
my_list = [2, 3, 5, 6, 7]
min_val = min(my_list)
print(f"min of all items in my_list: {min_val}")

min of all items in my_list: 2

### 18. Create a list of squares of numbers from 1 to 10.

In [10]:
square = [i*i for i in range(1,11)]
square

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

### 19. Create a list of random numbers.

In [18]:
import random
random_int=[random.randint(1,50) for i in range(5)]
print(f"list of random integer : {random_int}")

list of random integer : [23, 15, 1, 8, 1]

### 20. Remove duplicates from a list.

In [50]:
list_1 = [1, 2, 3, 4, 4, 5, 6, 7, 7]
l2 = [i for i in list_1 if list_1.count(i) == 1]
print(l2)
# also can be solved using remove() taking extra list with forand  also without extra list with while loop

[1, 2, 3, 5, 6]

### 21. Find the common elements between two lists.

In [46]:
l1=[2,3,4,6,7]
l2=[2,3,7,8,9]
l3=[i for i in l1 if i in l2]  
print("common elements : ",l3)

common elements :  [2, 3, 7]

### 22. Find the difference between two lists.

In [52]:
l1=[2,3,4,6,7]
l2=[2,3,7,8,9]
l3=[]
for i in l1:
    if i not in l2:
        l3.append(i)   
print("different elements : ",l3)
# another method: use set(l1).difference(l2)

different elements :  [4, 6]

### 23. Merge two lists.

In [59]:
list1 = [1, 2, 3]
list2 = [4, 5, 6]
merged_list = list1 + list2
print(merged_list)
# if union then use set(l1+l2)

{2, 3, 4, 6, 7, 8, 9}

### 24. Multiply all elements in a list by 2.

In [61]:
l=[2,3,5,6,7]
l=[i*2 for i in l]
print(l)

[4, 6, 10, 12, 14]

### 25. Filter out all even numbers from a list.

In [62]:
l=[3,4,5,6,7,8]
l=[i for i in l if i%2==0]
l

[4, 6, 8]

### 26. Convert a list of strings to a list of integers.

In [63]:
l=["10","20","30"]
l=[int(i) for i in l]
print(l)

[10, 20, 30]

### 28. Flatten a nested list.

In [64]:
original_list = [[1, 2, 3], [4, 5, [11, 12]], [6, 7, 8, 9]]

def flatten(input_list):
    result = []
    for item in input_list:
        if isinstance(item, list):
            result.extend(flatten(item))
        else:
            result.append(item)
    return result
flat_list = flatten(original_list)
print("Flattened list:", flat_list)

Flattened list: [1, 2, 3, 4, 5, 11, 12, 6, 7, 8, 9]

### 29. Create a list of the first 10 Fibonacci numbers.

In [71]:
def fib(n):
    fib=[0,1]
    for i in range(2,n):
        fib.append(fib[i-1]+fib[i-2])
    return fib

n=10
print(f"fibonacci series of first {n} no's : {fib(n)}")

fibonacci series of first 10 no's : [0, 1, 1, 2, 3, 5, 8, 13, 21, 34]

### 30. Check if a list is sorted.

In [79]:
def is_sorted(arr):
    for i in range(1, len(arr)):
        if arr[i] < arr[i - 1]:
            return False
    return True

my_list=[1,2,3,4,5]
if is_sorted(my_list):
    print("The list is sorted")
else:
    print("The list is not sorted")

The list is sorted

### 31. Rotate a list to the left by `n` positions.

In [83]:
def rotate_left(list,n):
    n=n%len(list)
    return list[n:]+list[0:n]
    
list=[1,2,3,4,5,6,7]
rotate_left(list,2)

[3, 4, 5, 6, 7, 1, 2]

### 32. Rotate a list to the right by `n` positions.

In [86]:
def rotate_right(list,n):
    n=n%len(list)
    return list[-n:]+list[:-n]
    
list=[1,2,3,4,5,6,7]
rotate_right(list,2)

[6, 7, 1, 2, 3, 4, 5]

### 33. Create a list of prime numbers up to 50.

In [88]:
def is_prime(number):
    if number <= 1:
        return False
    if number <= 3:
        return True
    if number % 2 == 0 or number % 3 == 0:
        return False
    i = 5
    while i * i <= number:
        if number % i == 0 or number % (i + 2) == 0:
            return False
        i += 6
    return True

prime_numbers = [num for num in range(2, 51) if is_prime(num)]
print(prime_numbers)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

### 34. Split a list into chunks of size `n`.

In [90]:
def chunk_list(input_list, n):
    return [input_list[i:i + n] for i in range(0, len(input_list), n)]
my_list = [1, 2, 3, 4, 5, 6, 7, 8, 9]
chunk_size = 3

result = chunk_list(my_list, chunk_size)
print(result)

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

### 35. Find the second largest number in a list.

In [96]:
list=[3,5,1,9,8,7,10]
list.sort(reverse=True)
if len(list)>=2:
    print(list[1])
else:
    print("list have not sufficient elements")

list have not sufficient elements

### 36. Replace every element in a list with its square.

In [98]:
list_ = [2,4,6,8,9]
new_sq=[i*i for i in list_]
new_sq

[4, 16, 36, 64, 81]

### 37. Convert a list to a dictionary where list elements become keys and their indices become values.

In [101]:
list_=['A','B','C','D']
dict_={i:j for i,j in enumerate(list_)}
print(dict_)

{0: 'A', 1: 'B', 2: 'C', 3: 'D'}

### 38. Shuffle the elements of a list randomly.

In [103]:
import random 
list_=[1,2,3,5,7,8]
random.shuffle(list_)
print("shuffled list:",list_)

shuffled list: [1, 8, 7, 3, 2, 5]

### 39. Create a list of the first 10 factorial numbers.

In [109]:
def fact(n):
    fact=1
    fact_list=[]
    for i in range(1,n+1):
        fact=fact*i
        fact_list.append(fact)
    return fact_list
fact(10)

[1, 2, 6, 24, 120, 720, 5040, 40320, 362880, 3628800]

### 40. Check if two lists have at least one element in common.

In [120]:
def common_or_not(l1,l2):
    for i in l1:
        if i in l2:
            return "have common element"
    return "no common element"
l1=[2,3,5,6]
l2=[9,8,6,4]
common_or_not(l1,l2)

'have common element'

### 41. Remove all elements from a list.

In [124]:
l=[2,3,5,6]
l.clear()
print("list after removal of all elements :",l)

list after removal of all elements : []

### 42. Replace negative numbers in a list with 0.

In [134]:
l = [3,-4,5,-3,-6,3,-9]
new_l=[0 if i<0 else i for i in l]
print(new_l)

[3, 0, 5, 0, 0, 3, 0]

### 43. Convert a string into a list of words.

In [138]:
string = "helo world you are great"
l=string.split()
print(l)

['helo', 'world', 'you', 'are', 'great']

### 44. Convert a list of words into a string.

In [143]:
l=['helo', 'world', 'you', 'are', 'great']
string=' '.join(l)
print(string)

helo world you are great

### 45. Create a list of the first `n` powers of 2.

In [147]:
n=5
l=[2**i for i in range(n)] 
print(l)

[1, 2, 4, 8, 16]

### 46. Find the longest string in a list of strings.

In [152]:
l=["helo","how", "are","you", "prince"]
longest=''
for i in l:
    if len(i)>len(longest):
        longest=i
print(longest)

prince

### 47. Find the shortest string in a list of strings.

In [154]:
l=["helo","how","are","you", "prince"]
shortest=l[0]
for i in l:
    if len(i)<len(shortest):
        shortest=i
print(shortest)

how

### 48. Create a list of the first `n` triangular numbers.

In [162]:
def triangular_numbers(n):
    return [(i * (i+ 1)) // 2 for i in range(1,n+1)]

n = 5
result = triangular_numbers(n)
print(f"The first {n} triangular numbers is {result}.")

The first 5 triangular numbers is [1, 3, 6, 10, 15].

### 49. Check if a list contains another list as a subsequence.

In [179]:
def is_seq_contains(list_,subseq):
    subseq_idx= 0
    for i in list_:
        if i==subseq[subseq_idx]:
            subseq_idx+=1
            if subseq_idx==len(subseq):
                return True
    return False

list_=[2,3,5,6,7,8,9]
subseq=[3,5,6]
if is_seq_contains(list_,subseq):
    print("list contains subsequence")
else:
    print("list not contains subsequence")

list contains subsequence

### 50. Swap two elements in a list by their indices.

In [181]:
list_=[2,3,5,6,7]
idx1=2
idx2=3
list_[idx1],list_[idx2]=list_[idx2],list_[idx1]
print(list_)

[2, 3, 6, 5, 7]

## **Tuple based practice problem :**

### 1. Create a tuple with integers from 1 to 5.

In [184]:
tup=tuple(i for i in range(1,6))
tup

(1, 2, 3, 4, 5)

### 2. Access the third element of a tuple.

In [189]:
tuple=(2,3,5,7)
print("third element: ",tuple[2])

third element:  5

### 3. Find the length of a tuple without using the `len()` function.

In [190]:
def length(tup):
    cnt=0
    for i in tup:
        cnt+=1
    return cnt
tup=[3,5,6,7]
length(tup)

4

### 4. Count the occurrences of an element in a tuple.

In [203]:
def occurance(tup,element):
    cnt=0
    for i in tup:
        if element==i:
            cnt+=1
    return cnt 
tup=(3,4,5,5,6,7,8,8,8)
n=8
print("element",n,"occured",occurance(tup,n),"times in tuple")

element 8 occured 3 times in tuple

### 5. Find the index of the first occurrence of an element in a tuple.

In [19]:
def first_occ(tup,element):
    idx=-1
    for i in tup:
        idx+=1
        if element==i:
            return f"element {element} at index {idx}"
    return f"{element} not found" 
tup=(2,3,4,5,7,8)
print(first_occ(tup,4))
print(first_occ(tup,43))

element 4 at index 2
43 not found

### 6. Check if an element exists in a tuple.

In [22]:
def if_exist(tup,element):
    if element in tup:
        return f"{element} found"
    return f"{element} not found"
tup=(3,5,6,8,4,11)
print(if_exist(tup,3))
print(if_exist(tup,23))

3 found
23 not found

### 7. Convert a tuple to a list.

In [24]:
tup=(3,4,5,6)
print(list(tup))

[3, 4, 5, 6]

### 8. Convert a list to a tuple.

In [26]:
list_=[3,4,5,6]
print(tuple(list_))

(3, 4, 5, 6)

### 9. Unpack the elements of a tuple into variables.

In [27]:
tup=(3,4,5)
v1,v2,v3=tup
print(v1)
print(v2)
print(v3)

3
4
5

### 10. Create a tuple of even numbers from 1 to 10.

In [29]:
tup=tuple(range(1,11))
print(tup)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

### 11. Create a tuple of odd numbers from 1 to 10.

In [32]:
tup=tuple(i for i in range(1,11)if i%2==1)
print(tup)

(1, 3, 5, 7, 9)

### 12. Concatenate two tuples.

In [33]:
t1=(3,4,5)
t2=(5,6,7,8)
print(t1+t2)

(3, 4, 5, 5, 6, 7, 8)

### 13. Repeat a tuple three times.

In [34]:
tup=(3,4,6)
print(tup*3)

(3, 4, 6, 3, 4, 6, 3, 4, 6)

### 14. Check if a tuple is empty.

In [36]:
def is_empty(tup):
    if len(tup)==0:
        return "tuple is empty"
    return "tuple is not empty"
tup1=(3,4,4)
tup2=()
print(is_empty(tup1))
print(is_empty(tup2))

tuple is not empty
tuple is empty

### 15. Create a nested tuple.

In [38]:
tup=((2,3),(4,5,6,("helo","everyone"),(True,False)))
print(tup)

((2, 3), (4, 5, 6, ('helo', 'everyone'), (True, False)))

### 16. Access the first element of a nested tuple.

In [40]:
tup=((2,3),(4,5,6,("helo","everyone"),(True,False)))
print(tup[0])

(2, 3)

### 17. Create a tuple with a single element.

In [45]:
tup=(23,)
print(tup)

(23,)

### 18. Compare two tuples.

In [46]:
tup1 = (1, 2, 3)
tup2 = (1, 2, 4)

print("tup1 == tup2:", tup1 == tup2)
print("tup1 != tup2:", tup1 != tup2)
print("tup1 < tup2:", tup1 < tup2)
print("tup1 <= tup2:", tup1 <= tup2)
print("tup1 > tup2:", tup1 > tup2)
print("tup1 >= tup2:", tup1 >= tup2)

tup1 == tup2: False
tup1 != tup2: True
tup1 < tup2: True
tup1 <= tup2: True
tup1 > tup2: False
tup1 >= tup2: False

### 19. Delete a tuple.

In [47]:
tup=(3,4,5)
del tup
print(tup)

NameError: name 'tup' is not defined

### 20. Slice a tuple.

In [51]:
tup=(5,3,2,6,7,8,9)
print(tup[3:5])

(6, 7)

### 21. Find the maximum value in a tuple.

In [54]:
tup=(3,4,6,8,9,22,5)
max_=max(tup)
print("max value in tup: ",max_)

max value in tup:  22

### 22. Find the minimum value in a tuple.

In [56]:
tup=(3,45,4,6,7)
min_=min(tup)
print("minimum value in tuple :",min_)

minimum value in tuple : 3

### 23. Convert a string to a tuple of characters.

In [57]:
string="abc"
tup=tuple(i for i in string)
print(tup)

('a', 'b', 'c')

### 24. Convert a tuple of characters to a string.

In [59]:
tup=('a', 'b', 'c')
string=''.join(tup)
string

'abc'

### 25. Create a tuple from multiple data types.

In [60]:
tup=(1,"helo",True,2.334)
print(tup)

(1, 'helo', True, 2.334)

### 26. Check if two tuples are identical.

In [62]:
t1=(3,4)
t2=(4,5)
if t1==t2:
    print("identical")
else:
    print("not same")

not same

### 27. Sort the elements of a tuple.

In [67]:
tup=(32,7,9,3,4,6)
a=sorted(tup)
print(a)

[3, 4, 6, 7, 9, 32]

### 28. Convert a tuple of integers to a tuple of strings.

In [73]:
tup=(3,4,5,6,7)
string=tuple(str(i) for i in tup)
print(string)

('3', '4', '5', '6', '7')

### 29. Convert a tuple of strings to a tuple of integers.

In [74]:
tup=('3', '4', '5', '6', '7')
int_tup=tuple(int(i) for i in tup)
print(int_tup)

(3, 4, 5, 6, 7)

### 30. Merge two tuples.

In [77]:
tup1=(2,3,5)
tup2=(7,8,5,3)
print("merged: ",tup1+tup2)

merged:  (2, 3, 5, 7, 8, 5, 3)

### 31. Flatten a nested tuple.

In [78]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

# Example usage:
nested_tuple = ((2, 3), (4, 5, 6, ('helo', 'everyone'), (True, False)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (2, 3, 4, 5, 6, 'helo', 'everyone', True, False)

### 32. Create a tuple of the first 5 prime numbers.

In [9]:
def is_prime(n):
    if n<=1:
        return False
    for i in range(2,int(n**0.5)+1):
        if n%i==0:
            return False
    return True
prime_list=[n for n in range(2,100) if is_prime(n)][:5]
prime_list_tup=tuple(prime_list)
print("tuple of first 5 no: ",prime_list_tup)

tuple of first 5 no:  (2, 3, 5, 7, 11)

### 3. Check if a tuple is a palindrome.

In [13]:
def is_palindrome(tup):
    return tup==tup[::-1]

tup1=(3,4,5,4,3)
tup2=(3,4,5,2,3)
print(is_palindrome(tup1))
print(is_palindrome(tup2))

True
False

### 34. Create a tuple of squares of numbers from 1 to 5.

In [17]:
sq_tup=tuple(i*i for i in range(1,6))

print(sq_tup)

(1, 4, 9, 16, 25)

### 35. Filter out all even numbers from a tuple.

In [18]:
def filter_even(tup):
    return tuple(i for i in tup if i%2==0)
tup=(1,2,3,4,5,6,7,8,9,10)
print(filter_even(tup))

(2, 4, 6, 8, 10)

### 36. Multiply all elements in a tuple by 2.

In [21]:
tup=(1,2,3,4,5,6)
new_tup=tuple(i*2 for i in tup)
print(new_tup)

(2, 4, 6, 8, 10, 12)

### 37. Create a tuple of random numbers.

In [35]:
import random 
tup=tuple(random.randint(1,50)for i in range(1,6))
print(tup)

(29, 29, 48, 33, 33)

### 38. Check if a tuple is sorted.

In [45]:
def is_sorted(tup):
    for i in range(len(tup)-1):
        if tup[i]>tup[i+1]:
            return "tuple is not sorted"
    return "sorted"

tup=(2,4,6)
print(is_sorted(tup))

tuple is not sorted

### 39. Rotate a tuple to the left by `n` positions.

In [46]:
def rotate_l(tup,n):
    n=n%len(tup)
    return tup[n:]+tup[:n]
tup=(2,3,4,6,8,9)
n=3
rotate_l(tup,n)

(6, 8, 9, 2, 3, 4)

### 40. Rotate a tuple to the right by `n` positions.

In [55]:
def rotate_r(tup,n):
    n=n%len(tup)
    return tup[-n:]+tup[:-n]
tup=(2,3,4,6,8,9)
n=2
rotate_r(tup,n)

(8, 9, 2, 3, 4, 6)

### 41. Create a tuple of the first 5 Fibonacci numbers.

In [75]:
def fib(n):
    tup=[0,1]
    for i in range(n-2):
        tup.append(tup[-1]+tup[-2])
    return tuple(tup)
fib(5)

(0, 1, 1, 2, 3)

### 42. Create a tuple from user input.

In [96]:
i=input("enter the elements (seperate by space) :")
print("you entered :",i)
input_list = i.split()
tup= tuple(element for element in input_list)
print("your tuple: ",tup)

you entered : a b c d
your tuple:  ('a', 'b', 'c', 'd')

### 43. Swap two elements in a tuple.

In [102]:

tup=(3,4,5,6,7,8)
idx1=1
idx2=3
tup=list(tup)
tup[idx1],tup[idx2]=tup[idx2],tup[idx1]
print(tuple(tup))

(3, 6, 5, 4, 7, 8)

### 44. Reverse the elements of a tuple.

In [104]:
tup=(3,4,5,6,8)
print(tup[::-1])

(8, 6, 5, 4, 3)

### 45. Create a tuple of the first `n` powers of 2.

In [107]:
n=5
tup=tuple(2**i for i in range(0,n))
print("tuple for first",n,"power of 2 :",tup)

tuple for first 5 power of 2 : (1, 2, 4, 8, 16)

### 46. Find the longest string in a tuple of strings.

In [109]:
def longest_str(tup):
    longest=""
    for i in tup:
        if len(longest)<len(i):
            longest=i 
    return longest 
tup=("helo","everyone","good","morning")
print(longest_str(tup))

everyone

### 48. Create a tuple of the first `n` triangular numbers.

In [110]:
n=5
triangular_tup=tuple(i*(i+1)//2 for i in range(1,n+1))
print(triangular_tup)

(1, 3, 6, 10, 15)

### 49. Check if a tuple contains another tuple as a subsequence.

In [112]:
def subseq_tup(tup,sub):
    for i in range(len(tup)-len(sub)+1):
        if tup[i:i+len(sub)]==sub:
            return True
    return False

tup=(1,2,3,4,5,6,7,8)
sub=(4,5,6)
print("tuples contains subseq or not :",subseq_tup(tup,sub))

tuples contains subseq or not : True

### 50. Create a tuple of alternating 1s and 0s of length `n`.

In [116]:
def tup_01(n):
    return tuple(i%2 for i in range(n))
tup_01(5)

(0, 1, 0, 1, 0)

## **Set based problems:**

### 1. Create a set with integers from 1 to 5

In [118]:
set_=set(range(1,6))
print(set_)

{1, 2, 3, 4, 5}

### 2. Add an element to a set

In [130]:
set1={3,4,5,6}
element=9
set1.add(element)
print(set1)

{3, 4, 5, 6, 9}

### 3. Remove an element from a set.

In [132]:
set2={4,5,6,7}
element=5
set2.remove(element)
print(set2)

{4, 6, 7}

### 4. Check if an element exists in a set.

In [135]:
set3={4,5,6,7}
element=int(input("enter element: ")) # i entered :4
if element in set3:
    print("exist")
else:
    print("not exist")

exist

### 5. Find the length of a set without using the `len()` function

In [136]:
def length(set_1):
    cnt=0
    return sum(1 for i in set_1)
set_1={3,4,56,6,78,8}
length(set_1)

6

### 6. Clear all elements from a set.

In [141]:
set_={2,3,4,5}
print("Original set:", set_)
set_.clear()
print("after clearing set :",set_)

Original set: {2, 3, 4, 5}
after clearing set : set()

### 7. Create a set of even numbers from 1 to 10

In [143]:
set_=set(i for i in range(1,11) if i%2==0)
print(set_)

{2, 4, 6, 8, 10}

### 8. Create a set of odd numbers from 1 to 10

In [144]:
set_=set(i for i in range(1,11) if i%2==1)
print(set_)

{1, 3, 5, 7, 9}

### 9. Find the union of two sets

In [150]:
set1={3,4,5}
set2={4,5,3,6}
res=set1.union(set2)
print("union :",res)

union : {3, 4, 5, 6}

### 10. Find the intersection of two sets

In [151]:
set1={3,4,5}
set2={4,5,3,6}
res=set1.intersection(set2)
print("intersection :",res)

intersection : {3, 4, 5}

### 11. Find the difference between two sets.

In [153]:
set1={3,4,5,7}
set2={4,5,3,6}
res=set1.difference(set2)
print("difference :",res)

difference : {7}

### 12. Check if a set is a subset of another set.

In [156]:
set1={3,4,5,7}
set2={4,5}
res=set2.issubset(set1)
print("is set2 is subset of set1 :",res)

is set2 is subset of set1 : True

In [159]:
set1={3,4,5,7}
set2={4,5}
res=set1.issuperset(set2)
print("is set1 is superset of set2 :",res)

is set1 is superset of set2 : True

### 14. Create a set from a list

In [160]:
list_=[3,4,5,6]
a=set(list_)
print(a)

{3, 4, 5, 6}

### 15. Convert a set to a list.

In [161]:
set_={3,4,6,7}
a=list(set_)
print(a)

[3, 4, 6, 7]

### 16. Remove a random element from a set.

In [173]:
import random
set_={3,4,5,7,8}
remove_ele=random.choice(list(set_))
set_.remove(remove_ele)
print(set_)

{3, 5, 7, 8}

### 17. Pop an element from a set.

In [177]:
set_={3,4,5,6,7}
poped_ele=set_.pop()
print(poped_ele)
print(set_)

3
{4, 5, 6, 7}

### 18. Check if two sets have no elements in common.

In [197]:
set_1={9,8,5}
set_2={4,5,6,7}
if len(set_1.intersection(set_2))==0:
    print("no common")
else:
    print("have common")
# also using set_1.isdisjoint(set_2)

have common

### 19. Find the symmetric difference between two sets.

In [202]:
set1 = {6, 2, 3, 4, 5}
set2 = {4, 5, 7, 6}
symmetric_difference = set1 ^ set2
print("Symmetric Difference:", symmetric_difference)

Symmetric Difference: {2, 3, 7}

### 20. Update a set with elements from another set.

In [204]:
set1={1,2,3}
set2={3,4,6}
set1.update(set2)
print(set1)

{1, 2, 3, 4, 6}

### 21. Create a set of the first 5 prime numbers.

In [8]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True
set_=set()
num=5
for i in range(6):
    if is_prime(i):
        set_.add(i)

print(set_)

{2, 3, 5}

### 22. Check if two sets are identical.

In [10]:
set1={3,4,6,7}
set2={3,4,6,7}
if set1==set2:
    print("identical")
else:
    print("not identical")

identical

### 23. Create a frozen set

In [11]:
list=[2,3,5,6]
frozen_set=frozenset(list)
print(frozen_set)

frozenset({2, 3, 5, 6})

### 24. Check if a set is disjoint with another set.

In [13]:
set1={3,4,6,7}
set2={8,9}
if set1.isdisjoint(set2):
    print("disjoint")
else:
    print("not disjoint")

disjoint

### 25. Create a set of squares of numbers from 1 to 5.

In [25]:
set_={i*i for i in range(1,6)}
print(set_)

{1, 4, 9, 16, 25}

### 26. Filter out all even numbers from a set.

In [26]:
set_={3,4,5,6,7,11,13}
even_set={i for i in set_ if i%2==0}
print(even_set)

{4, 6}

### 27. Multiply all elements in a set by 2.

In [28]:
set_={3,4,5,6,7,11,13}
mul_set={i*2 for i in set_}
print(mul_set)

{6, 8, 10, 12, 14, 22, 26}

### 28. Create a set of random numbers.

In [32]:
import random 
n_cnt=5         #tell here number of element you want 
random_set=set()
while len(random_set)!=n_cnt:
    n=random.randint(1,100)
    random_set.add(n)
print(random_set)

{34, 71, 45, 79, 56}

### 29. Check if a set is empty.

In [35]:
set_=set()
if len(set_):
    print("set is not empty")
else:
    print("set is empty")

set is empty

### 30. Create a nested set (hint: use frozenset).

In [6]:
set1={2,3,4}
set2={4,5,6}
frozenset_1=frozenset(set1)
frozenset_2=frozenset(set2)
nested_set={frozenset_1,frozenset_2}
print("nested set: ",nested_set)

nested set:  {frozenset({4, 5, 6}), frozenset({2, 3, 4})}

### 31.  Remove an element from a set using the discard method.

In [2]:
set_ = {3,4,5,6,7}
print("initial set: ",set_)
element_to_remove=3
set_.discard(element_to_remove)
print("set after removing",element_to_remove,":",set_)

initial set:  {3, 4, 5, 6, 7}
set after removing 3 : {4, 5, 6, 7}

### 32. Compare two sets.

In [7]:
set1={2,3,4}
set2={4,5,6}
is_subset = set1.issubset(set2)
is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)
union = set1.union(set2)
difference1 = set1.difference(set2)
difference2 = set2.difference(set1)

print("Set 1:", set1)
print("Set 2:", set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)
print("Intersection:", intersection)
print("Union:", union)
print("Elements in set1 but not in set2:", difference1)
print("Elements in set2 but not in set1:", difference2)

Set 1: {2, 3, 4}
Set 2: {4, 5, 6}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4}
Union: {2, 3, 4, 5, 6}
Elements in set1 but not in set2: {2, 3}
Elements in set2 but not in set1: {5, 6}

### 33. Create a set from a string.

In [8]:
string="hello"
set_=set(string)
print(set_)

{'e', 'o', 'h', 'l'}

### 34. Convert a set of strings to a set of integers.

In [9]:
string={"22","45","67"}
set_int=set(int(i) for i in string)
print(set_int)

{67, 45, 22}

### 35. Convert a set of integers to a set of strings.

In [10]:
int_={67, 45, 22}
set_str=set(str(i) for i in int_)
print(set_str)

{'22', '67', '45'}

### 36. Create a set from a tuple.

In [11]:
tup=(3,4,5,7,8)
set_=set(i for i in tup)
print(set_)

{3, 4, 5, 7, 8}

### 37. Convert a set to a tuple.

In [13]:
set_={3, 4, 5, 7, 8}
tup=tuple(set_)
print(tup)

(3, 4, 5, 7, 8)

### 38. Find the maximum value in a set.

In [14]:
set_={3,4,5,6,8}
print(max(set_))

8

### 39. Find the minimum value in a set.

In [17]:
set_={3,4,5,6,8}
print(min(set_))

3

### 40. Create a set from user input.

In [33]:
input_=input("enter elements seperated by space : ")
set_val= input_.split(' ')
set_=set(i for i in set_val)
print("you entered:",input_)
print(set_)

you entered: 4 5 7 hello bye
{'4', '7', 'bye', 'hello', '5'}

### 41. Check if the intersection of two sets is empty

In [41]:
set1={3,4}
set2={5,6}
if not set1.intersection(set2):
    print("empty")
else:
    print("not empty")

empty

### 42. Create a set of the first 5 Fibonacci numbers.

In [43]:
fib=set()
a,b=0,1
for i in range(6):
    fib.add(a)
    a,b=b,a+b 
print("set of first 5 fibonacci no:",fib)

set of first 5 fibonacci no: {0, 1, 2, 3, 5}

### 43. Remove duplicates from a list using sets.

In [4]:
l=[3,4,5,6,5,7]
a=set(l)
print("list without duplicate: ",list(a))

list without duplicate:  [3, 4, 5, 6, 7]

### 44. Check if two sets have the same elements, regardless of their count.

In [10]:
def is_same_el(set1,set2):
    s1=sorted(set1)
    s2=sorted(set2)
    return s1==s2
set1={2,3,4,5}
set2={4,5,6}
res = is_same_el(set1,set2)
print("does both set have same element :",res)

does both set have same element : False

### 45. Create a set of the first `n` powers of 2

In [11]:
n=5
set_=set(2**i for i in range(n))
print(set_)

{1, 2, 4, 8, 16}

### 46. Find the common elements between a set and a list.

In [14]:
list_=[2,3,4,5]
set_={7,4,5}
common=set_.intersection(set(list_))
print(common)

{4, 5}

### 47. Create a set of the first `n` triangular numbers.:

In [5]:
def triangular_first(n):
    return set((i*(i+1)//2 for i in range(1,n+1)))
n=10
set_=triangular_first(n)

print(f"first {n} triangular no : {set_}")
set_

first 10 triangular no : {1, 3, 36, 6, 10, 45, 15, 21, 55, 28}

{1, 3, 6, 10, 15, 21, 28, 36, 45, 55}

### 48. Check if a set contains another set as a subset.

In [27]:
set1 = {2,3,4,5}
set2 = {3,5}
is_subset = set2.issubset(set1)
if is_subset:
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is subset of set1

### 49. Create a set of alternating 1s and 0s of length `n`.

Answer: its not possible as set cant contain duplicate elements in it so it maximum includes 0 and 1 once {0,1}

### 50. Merge multiple sets into one.

In [38]:
set1 = {1, 2, 3}
set2 = {3, 4, 5}
set3 = {5, 6, 7}
set_=set1.union(set2,set3)
print("merged set :",set_)

merged set : {1, 2, 3, 4, 5, 6, 7}